html, body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 50px auto;
    max-width: 800px;
}

img {
    max-width: 100%;
    height: auto;
}

.text-area {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

p {
    margin: 0;
}


h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

/* Checklist part with the challenges */
/* Checklist part with the challenges */
/* Checklist part with the challenges */
/* Checklist part with the challenges */

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
    margin-bottom: 10%;
}


.left-side {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.right-side {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

.text {
    background-color: #b3b3b3;
    padding: 20px;
}